[submodule "lib/lua_sandbox"]
	path = lib/lua_sandbox
	url = https://github.com/mozilla-services/lua_sandbox
[submodule "docs/article/writedown"]
	path = docs/article/writedown
	url = https://github.com/dyne/writedown
[submodule "lib/musl"]
	path = lib/musl
	url = git://git.musl-libc.org/musl
[submodule "lib/luazen"]
	path = lib/luazen
	url = https://github.com/philanc/luazen.git
