[submodule "docs/article/writedown"]
	path = docs/article/writedown
	url = https://github.com/dyne/writedown
[submodule "lib/musl"]
	path = lib/musl
	url = git://git.musl-libc.org/musl
[submodule "lib/milagro-crypto-c"]
	path = lib/milagro-crypto-c
	url = https://github.com/milagro-crypto/milagro-crypto-c
[submodule "docs/webnomad"]
	path = docs/webnomad
	url = https://github.com/dyne/webnomad
[submodule "docs/wiki"]
	path = docs/wiki
	url = https://github.com/DECODEproject/zenroom.wiki.git
[submodule "lib/lpeglabel"]
	path = lib/lpeglabel
	url = https://github.com/sqmedeiros/lpeglabel
