*.[oa]
*.so
src/lualibs_detected.c
CMakeCache.*
CMakeFiles
CPack*
CTest*
config.log
config.status
build/lua_sandbox*
build/luazen
.env
docs/test
docs/pub
docs/fonts
lib/musl
src/zenroom.wasm
src/zenroom-shared
build/Zenroom-*
build/xtensa-*
build/*wasm
build/*js
build/*dll
build/*exe
build/*command
build/*py
build/python2
build/python3
build/*go
build/*java
build/*x86
