language: c
os:
  - linux
  - osx

sudo: required

git:
  submodules: true

compiler:
  - gcc

addons:
  apt:
    packages:
      - build-essential
      - gcc
      - make
      - valgrind
      - zsh

before_install:
  - git submodule update --init --recursive

script:
  - make shared
  - make check-shared
