Scenario ecdh
Given I have a 'ecdh public key' from 'The Signer'
and I have a 'signature'
and I have a 'string' named 'message'
When I verify the 'message' has a signature in 'signature' by 'The Signer'
Then print the string 'SUCCESS'
and print the 'message'