:root {
	--fontawesome-size: 1.5em
	font-family: 'ubuntu';
}

.nav-item {
	font-size: 1.7em;
	padding: .5em;
}

a {
	color: maroon;
}

body { font-family: 'Montserrat-Light'}

.center {
	text-align: center;
}

.fab {
	font-size: var(--fontawesome-size);
	padding: 1em;
}
.far {
	font-size: var(--fontawesome-size);
	padding: 1em;
}
.fas {
	font-size: var(--fontawesome-size);
	padding: 1em;
}

.pic {
	border: 2px;
	width: 56%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 { text-align: center; }
h2 { text-align: center; }

li a {
	padding: .2em;
}
pre {
    background-color: #FFFFFF
}

// KeyWordTok
.sourceCode .kw { color: #268BD2; }
// DataTypeTok
.sourceCode .dt { color: #268BD2; }

// DecValTok (decimal value), BaseNTok, FloatTok
                                            .sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
// CharTok
.sourceCode .ch { color: #DC322F; }
// StringTok
.sourceCode .st { color: #2AA198; }
// CommentTok
.sourceCode .co { color: #93A1A1; }
// OtherTok
.sourceCode .ot { color: #A57800; }
// AlertTok
.sourceCode .al { color: #CB4B16; font-weight: bold; }
// FunctionTok
.sourceCode .fu { color: #268BD2; }
// RegionMarkerTok
.sourceCode .re { }
// ErrorTok
.sourceCode .er { color: #D30102; font-weight: bold; }
